<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">CuboStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="marcasDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Marcas
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let marca of marcas">
                            <a class="dropdown-item" routerLink="/marca/{{ marca }}">{{ marca }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown">
                        Cuenta
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                        <li><a class="dropdown-item" routerLink="/register">Registro</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>